<app-header></app-header>

<ion-content>
  <div class="input-wrapper">
  
<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lenguaje</ion-card-title>
      <ion-card-subtitle>Seccion 001</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Contenido: Argumentacion  Fecha: 28/09/24  Hora: 9:00
    </ion-card-content>

    <ion-button [routerLink]="['/qrlista']" fill="clear">Pasar Lista</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lenguaje</ion-card-title>
      <ion-card-subtitle>Seccion 002</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Contenido: Argumentacion  Fecha: 28/09/24  Hora: 9:00
    </ion-card-content>

    <ion-button [routerLink]="['/qrlista']"fill="clear">Pasar Lista</ion-button>
  </ion-card>
</ion-list>
</div>
</ion-content>

<app-footer></app-footer>
